<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.mapper.MenuMapper">

    <select id="findPermsByRoleId" resultType="java.lang.String">
        select m.perms frorm t_user_role ur inner join t_menu m on ur.menu_id = m.role_id where m.perms != ''
    </select>
</mapper>