<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.mapper.MenuMapper">

    <select id="findPermsByRoleId" resultType="java.lang.String">
        SELECT
            m.perms from t_role_menu rm
        INNER JOIN t_menu m ON rm.menu_id = m.id
        WHERE
            m.perms != ''
        AND rm.role_id = #{roleId}
    </select>
</mapper>